<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <button class="btn btn-primary" [routerLink]="['/articles']" routerLinkActive="active">
      <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 7px;"></i>Back to articles list
    </button>

    <h2 class="text-center"><i>{{ data?.title }}</i></h2>

    <p>
      <img src="{{ data?.image }}" width="250" height="250" style="float: left; margin-right: 12px; margin-bottom: 7px;">
      {{ data?.body }}
    </p>

    <div style="margin-top: 30px;">
      <b>Author:</b><i>{{ data?.author.firstname + ' ' + data?.author.lastname }}</i>
    </div>

    <div>
      <b>Creation date:</b><i>{{ data?.created_at | date }}</i>
    </div>

    <div>
      <b>Categories:</b><i *ngFor="let category of data?.category">{{ category + "; " }}</i>
    </div>

    <hr>

    <div class="row" style="margin-top: 70px;">
      <div class="col-sm-offset-2 col-sm-8">

        <div class="media" style="margin-bottom: 30px;" *ngFor="let comment of data?.comments">

          <div class="media-left">
            <img class="media-object" src="default-profile.png">
          </div>

          <div class="media-body">
            <b class="media-heading">{{ comment?.author.firstname + ' ' + comment?.author.lastname }}</b>
            <i class="pull-right">{{ comment?.created_at | date }}</i>
            <div *ngIf="isCommentAuthor(comment.author._id)">
              <a [routerLink]="['/articles/', data?._id, 'comment', comment?._id ]" routerLinkActive="active">
                <p>{{ comment.message }}</p>
              </a>
            </div>
            <div *ngIf="!isCommentAuthor(comment.author._id)">
              <p>{{ comment.message }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr>

  </div>
</div>
